body {
  background: #EFE6DD;
  text-align: center;
}

.container {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.score-block {
  padding: 20px 20px;
  border: 1px dashed #231F20;
  box-sizing: border-box;
  background-color: rgb(121,128,113,0.25);
  font-size: 50px;
}

.counter {
  display: flex;
  justify-content: space-between;
}

.number {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #231F20;
  background-color: rgba(223, 154, 148, 0.25);
  width: 60px;
  height: 60px;
  font-size: 40px;
  align-items: center;
  justify-content: center
}

.miss-counter {
  margin-top: 10px;
}

.cells {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.cell:nth-child(1n+5) {
  margin-top: 5px;
}

.cell:nth-child(2n) {
  margin-left: 5px;
  margin-right: 5px;
}

.cell:nth-child(4n) {
  margin-left: 5px;
}

.cell {
  box-sizing: border-box;
  border: 2px solid #231F20;
  background: #F3DFA2;
  width: 130px;
  height: 130px;
}
